body {
    background-color: #F0F8FF;}
p {color: #F08A5D;
    background-color:#fff3b0;}
a:link {color: #B83B5E;}
a:visited {color: #6A2C70;}
a:hover {text-decoration-style: wavy;}
nav {background-color:#fff3b0;}
nav a {color: #F21170;}
nav a:hover {background-color: #F0F8FF;}
nav {padding: 10px }
nav {margin-bottom: 30px}
.nav_link {width: 100%;}
h1 {font-size: 75px;}
@media only screen and (max-width: 600px) {nav a{display: block;} nav a{margin-top: 20px;}}